<!DOCTYPE html>
<html lang="pl" xmlns="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8">
<title>Vets index page</title>
</head>
<body>

	<h2 th:text="'Vets index page'">Index Page!</h2>

	<table id="vets" class="table table-striped">
		<thead>
			<tr>
				<td>Id</td>
				<td>FirstName</td>
				<td>LastName</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet.id}">Id</td>
				<td th:text="${vet.firstName}">First name</td>
				<td th:text="${vet.lastName}">Last name</td>
			</tr>
		</tbody>
	</table>
</body>
</html>